html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif !important;
}

html {
    background-color: #e7e7e7;
}

#root {
    height: 100%;
    position: relative;
}